{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Buy Online Electrical Products</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

<!-- js -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- //js -->
<!-- cart -->
<script src="{% static 'js/simpleCart.min.js' %}"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
<!-- //for bootstrap working -->
<link href="{% static '//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' %}" rel='stylesheet' type='text/css'>
<link href="{% static '//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' %}" rel='stylesheet' type='text/css'>
<!-- timer -->
<link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}" />
<!-- //timer -->
<!-- animation-effect -->
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
<script src="{% static 'js/wow.min.js' %}"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
</head>

<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="header-grid">
				<div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
					<ul>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">HariharSpareParts.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>9999332001</li>
						<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="/myapp/sample/">Logout</a></li>

					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="logo-nav">
				<div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
					<h1><a href="/myapp/sample/">ELECTROCITY  <span>  Buy|Hacks|Recycle</span></a></h1>
				</div>
				<div class="logo-nav-left1">
					<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/myapp/sample/" class="act"></a></li>
							<!-- Mega Menu -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop by category <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
											<h6>Accessories</h6>
											 <li><a href="/myapp/single/">Switches</a></li>
											<li><a href="/myapp/single/">Push Butons</a></li>
											<li><a href="/myapp/single/">Control Gear & signalling Devices</a></li>
											<li><a href="/myapp/single/">Wiring devices</a></li>
											<li><a href="/myapp/single/">Fuses</a></li>
											<li><a href="/myapp/single/">Washing Machine</a></li>
											<li><a href="/myapp/single/">RO</a></li>
											<li><a href="/myapp/single/">Press</a></li>
											<li><a href="/myapp/single/">Geyser</a></li>
										    <li><a href="/myapp/single/">Juicers,Mixers & grinders</a></li>

											</ul>
										</div>

										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Lights</h6>
												<li><a href="/myapp/single/">domestic & Commercial Lights</a></li>
												<li><a href="/myapp/single/">-LED spot Lights</a></li>
												<li><a href="/myapp/single/">-LED Down Lights</a></li>
												<li><a href="/myapp/single/">-LED Step Lights</a></li>
												<li><a href="/myapp/single/">-LED Panel Lights</a></li>
												<li><a href="/myapp/single/">-LED Strip Lights</a></li>
												<li><a href="/myapp/single/">LED Bulbs And TUbelights</a></li>
												<li><a href="/myapp/single/">-LED Bulbs and Lamps</a></li>
												<li><a href="/myapp/single/">-LED Chandelier Lights</a></li>
												<li><a href="/myapp/single/">-LED Tube Lights</a></li>
												<li><a href="/myapp/single/">Outdoor Lighting</a></li>
												<li><a href="/myapp/single/">Clean Room Lights</a></li>
											</ul>
										</div>

										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Fans</h6>
												<li><a href="/myapp/single/">Ceiling Fans</a></li>
												<li><a href="/myapp/single/">Table Fans</a></li>
												<li><a href="/myapp/single/">Pedestal Fans/Stand Fans</a></li>
												<li><a href="/myapp/single/">Wall Fans</a></li>
												<li><a href="/myapp/single/">Fan Regulators & Dimmers</a></li>
												<li><a href="/myapp/single/">Exhaust Fans</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>Wires & Cables</h6>
												<li><a href="/myapp/single/">Single Core Cables</a></li>
												<li><a href="/myapp/single/">Pair Cables</a></li>
												<li><a href="/myapp/single/">Multicore Cables</a></li>
												<li><a href="/myapp/single/">Wire & Cables Accessories</a></li>

											</ul>
										</div>
									</div>
								</ul>
							</li>
							<li><a href="/myapp/hacks/">Hacks</a></li>
							<li><a href="/myapp/mail/">Mail Us</a></li>
						</ul>
					</div>
					</nav>
				</div>
				<div class="logo-nav-right">
					<div class="search-box">
						<div id="sb-search" class="sb-search">
							<form method="post" action="/myapp/search/">
								{% csrf_token %}
								<input class="sb-search-input" placeholder="Enter your search term..."  type="text" name="sr" >
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
					</div>
						<!-- search-scripts -->
						<script src="{% static 'js/classie.js' %}"></script>
						<script src="{% static 'js/uisearch.js' %}"></script>
							<script>
								new UISearch( document.getElementById( 'sb-search' ) );
							</script>
						<!-- //search-scripts -->
				</div>
				<div class="header-right">
					<div class="cart box_1">
						<a href="/myapp/cart/">
							<h3> <div class="total">
								<span class="WebRupee">Rs. </span> <span id="simpleCart_quantity" class="simpleCart_quantity"></span> <b>items</b></div>
								<img src="{% static 'images/bag.png' %}" alt="" />
							</h3>
						</a>
						<p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
        <!-- Header Area End -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/myapp/index/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active"><span class="glyphicon glyphicon-home" > CHECKOUT</span></li>
			</ol>
		</div>
	</div>

        <div class="cart-table-area section-padding-100">
            <div class="container">
                <div class="panel panel-primary">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">
							<div class="cart-title">
								<div class="container">
									<h1 class="animated wow zoomIn" data-wow-delay=".5s" align="center">Checkout Form</h1>
								</div>
							</div>
				<div class="container-fluid">
					<div class="col-md-19 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
						<div class="col-md-6 mb-3">
							<form action="/myapp/checkout/" method="post">
                                {% csrf_token %}
                                <div class="row">
									<b>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" name='fname'  placeholder="First Name" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" name='lname'  placeholder="Last Name" required>
                                    </div><br><br>
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" name = 'cname' placeholder="Company Name" >
                                    </div><br><br>
                                    <div class="col-md-12 mb-3">
                                        <input type="email" class="form-control" name='email'  placeholder="Email" >
                                    </div><br><br>
                                    <div class="col-md-12 mb-3">
                                        <select class="w-100" name='country'>
										<option value="In">India</option>
                                        <option value="Pak">Pakinstan</option>
                                        <option value="Sri">Sri Lanka</option>
                                        <option value="Ch">China</option>


                                    </select>
                                    </div><br><br>
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" name='address'  placeholder="Address" >
                                    </div><br><br>
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" name='town'  placeholder="Town" >
                                    </div><br><br>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" name='zip' placeholder="Zip Code">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" name='phone'   placeholder="Phone No" >
                                    </div>
								<div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s" class="label label-info">
                                <button type='submit' class="label label-warning"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>submit</button>
								</div>
									<br>
										</b>
                                </div>
                            </form>
							</div>
						</div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
<div class="row">
  <div class="col-sm-6">
	  <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
		  <h4>Cart Total</h4>
	  		</div>
									<b>
                                    <div class="col-md-6 mb-3">
										<ul class="summary-table">
                                        <li><span>delivery:</span> <span>Free</span></li>
                                		<li><span>total:</span> <span>{{ total }}</span></li>
										</ul>
                                    </div>
										<div class="payment-method">
                                <!-- Cash on delivery -->
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="cod" checked>
                                    <label class="custom-control-label" for="cod">Cash on Delivery</label>
                                </div>
                                <!-- Paypal -->
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="paypal">
                                    <label class="custom-control-label" for="paypal">Paypal <img class="ml-15" src="img/core-img/paypal.png" alt=""></label>
                                </div>
                            </div>

                            	<div class="cart-btn mt-100">
                                	<a href="/payment/process/" class="btn amado-btn w-100">Checkout</a>
                            	</div>
						</span>
      </h4>
    </div>
  </div>
</div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Footer Area Start ##### -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
					<h3>About Us</h3>
					<p>We look around we are surrounded by many things
                       which illuminate our life with happiness
                       electrical products are one of them we
                       buyelectric with the vision to bring ease
                       in electricalshopping of a common man we
                       have added wide range of electrical products
                       in our basket. .<span> Our aim is to reach the darkest
                       corner of your house, every process of your
                       routine whether its house office or Club
                       our product range will makes the life easier.</span></p>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
					<h3>Contact Info</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Main road,Bhola Nath Nagar <span>Shahdhara,Delhi-32.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">HariharSpareParts.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>9999332001</li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
					<h3>Certified Seller</h3>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/one.png' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/cart.png' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/Best.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/bulk.png' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/dis.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/peeps.png' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/wholesale.png' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/quality.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/safe.png' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/offer.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/Rename.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="footer-grid-left">
						<a href="/myapp/single/"><img src="{% static 'my/price.jpg' %}" alt=" " class="img-responsive" /></a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
					<h3>Payment ways</h3>
					<div class="footer-grid-sub-grids">
						<div class="footer-grid-sub-grid-left">
							<a href="/myapp/single/"><img src="{% static 'my/pg.png' %}" alt=" " class="img-responsive" /></a>
						</div>
						<div class="footer-grid-sub-grid-right">
							<h4><a href="/myapp/single/">Paytm/Visa/Bank Transfer</a></h4>
							<!--<p>Posted On 25/3/2016</p>-->
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="footer-grid-sub-grids">
						<div class="footer-grid-sub-grid-left">
							<a href="/myapp/single/"><img src="{% static 'my/net.jpg' %}" alt=" " class="img-responsive" /></a>
						</div>
						<div class="footer-grid-sub-grid-right">
							<h4><a href="/myapp/single/"><-Connect with us</a></h4>
							<!--<p>Posted On 25/3/2016</p>-->
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
				<h2><a href="/myapp/index/">Best Electronic store <span>shop anywhere</span></a></h2>
			</div>
			<div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
				<p>&copy 2018 Best Electronic store. All rights reserved | Design by us.</p>
			</div>
		</div>
	</div>
</body>

</html>